$body-bg: #f1f2f2 !default; // #f7f7f7
$loader-bg: white;
$primary-color: #0098c3;
$warm-color: #d12f30;
$accentColor: #f37160;

$logo-nsi-color1: #0098c3;
$logo-nsi-color2: #90d5df;
$logo-nsi-color3: #4c9fce;
$logo-nsi-color4: #f04b4c;
$logo-nsi-color5: #69266f;

$images-path: 'assets/images' !default; // #{$images-path}
$app-logo: '#{$images-path}/nsi_white_2018_final.png';
$loader-logo: '#{$images-path}/nsi_logo_2018_final.png';

@import 'template/variables';
