$primaryColor: #0098C3 !default;
$primaryDarkColor: #2782AA !default;
$primaryLightColor: #4C9FCE !default;
$accentColor: #F37160 !default;
$accentDarkColor: #D12F30 !default;
$accentLightColor: #C8E9EF !default;
$accentTextColor: #232628 !default;
$darkMenuBgColor: #0D435A !default;
$darkMenuHoverColor: #11687F !default;
$darkMenuRouterLinkActiveColor: #F37160 !default;
$lightMenuRouterLinkActiveColor: #0098C3 !default;
$horizontalLightMenuRouterLinkActiveColor: #90D5DF !default;

$ultima-fonts-path: '../node_modules/@nsi/primeng-ultima/resources/layout/fonts' !default;
$ultima-images-path: '../node_modules/@nsi/primeng-ultima/resources/layout/images' !default;
