$primaryColor: #0098c3 !default;
$primaryDarkColor: #2782aa !default;
$primaryLightColor: #4c9fce !default;
$accentColor: #f37160 !default;
$accentDarkColor: #d12f30 !default;
$accentLightColor: #c8e9ef !default;
$accentTextColor: #232628 !default;
$darkMenuBgColor: #0d435a !default;
$darkMenuHoverColor: #11687f !default;
$darkMenuRouterLinkActiveColor: #f37160 !default;
$lightMenuRouterLinkActiveColor: #0098c3 !default;
$horizontalLightMenuRouterLinkActiveColor: #90d5df !default;

$ultima-fonts-path: '../node_modules/@nsi/primeng-ultima/resources/layout/fonts' !default;
$ultima-images-path: '../node_modules/@nsi/primeng-ultima/resources/layout/images' !default;
